.footer
  a(target="_blank", href="/")
    span 
  a(href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action", target="_blank") 渝ICP备16004561号 
  span 
  br 
  .by_farbox
    a(href="https://hexo.io/zh-cn/", target="_blank") 
